.primeiro_site{
    color: rgb(71, 47, 110);
}
.listas-ord{
    color: rgb(67, 115, 97);
}
.comprar_pao{
    color: green;
}
#titulo{
    color: coral;
}
.fazerCafe{
    color: lawngreen;
}
.meAlimentar{
    color: rgb(14, 32, 21);
}